<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showcase</title>
    <link rel="stylesheet" href="/style.css">
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="banner">
        <h1>2025 Annual Robotics Showcase</h1>
        <div class="banner-left">
            <button class="refresh" onclick="updateSheet()">Refresh</button>
            <%if (locals.updated) {%>
                <p>Updated!</p>
            <%} else {%>
                <p>Needs to be updated</p>
            <%}%>
        </div>
    </div>
    <div class="form-container">
        <h1>Welcome!</h1>
        <% if (message && message.length) { %>
            <div class="error"><%= message[0] %></div>
        <% } %>
        <form action="/home" method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="school" placeholder="School" required>
            <input type="text" name="coach" placeholder="Coach" required>
            <input type="text" name="robot" placeholder="Robot" required>
            <select class="custom-select" name="entryType" required>
                <option value="out">Checking Out</option>
                <option value="in">Checking In</option>
            </select>
            <button type="submit">Register</button>
        </form>
    </div>
    <script>
        function updateSheet() {
            fetch('/api/update-sheet', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(() => {
                const statusElement = document.querySelector('.banner-left p');
                if (statusElement) {
                    statusElement.textContent = "Updated!";
                }
            })
        }
    </script>
</body>
</html>