<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="banner">
        <h1>2025 Annual Robotics Showcase</h1>
        <div class="banner-left">
            <button class="refresh" onclick="">Refresh</button>
            <%if (locals.update) {%>
                <p>Needs to be updated</p>
            <%} else {%>
                <p>Updated!</p>
            <%}%>
        </div>
    </div>
    
    <div class="form-container">
        <h1>Welcome!</h1>
        <form action="/home" method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="FLLteamnum" placeholder="Team Number" required>
            <input type="text" name="robotNumber" placeholder="Robot" required>
            <select class="custom-select" name="checking" required>
                <option value="in">Checking In</option>
                <option value="out">Checking Out</option>
            </select>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>